@model Snapp.Core.ViewModels.Panel.UserDetailProfileViewModel

@{
    ViewData["Title"] = "مشخصات";
    Layout = "~/Views/Shared/_Site.cshtml";
}

<link href="~/picker/PersianDatePicker.min.css" rel="stylesheet" />
<script src="~/picker/PersianDatePicker.min.js"></script>

<h1 class="text-center">مشخصات پروفایل</h1>

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <form asp-action="UserProfile">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <img src="~/img/Profile.png" alt="اسنپ" class="img-fluid" style="margin: auto" />
            </div>
            <div class="form-group">
                @*<label asp-for="FullName" class="control-label"></label>*@
                <input asp-for="FullName" class="form-control" placeholder="نام و نام خانوادگی" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="BirthDate" class="control-label"></label>*@
                <input asp-for="BirthDate" onclick="PersianDatePicker.Show(this, '@ViewBag.MyDate')" class="form-control" placeholder="تاریخ تولد" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ذخیره تغییرات" class="btn btn-success btn-block" />
            </div>
        </form>
    </div>
</div>

<script src="~/js/sweet.js"></script>

@if (ViewBag.IsSuccess)
{
    <script>
        swal("انجام شد", "تغییرات با موفقیت انجام شد", "success", {
            button: "متوجه شدم",
        });
    </script>
}

