@model Snapp.Core.ViewModels.dashbord_admin.MonthTypeViewModel

@{
    ViewData["Title"] = "ویرایش تعرفه رطوبت";
    Layout = "~/Views/Shared/_DashbordLayout.cshtml";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="card">
            <div class="header">
                <h4 class="title pull-right">ویرایش @Model.Name</h4>
                <h4 class="title pull-left">
                    <a href="/Humidity/Index" class="btn btn-danger">
                        بازگشت
                    </a>
                </h4>
            </div>
            <div class="clearfix"></div>
            <div class="content">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class=""></label>
                        <input asp-for="Name" class="form-control" placeholder="نام یا عنوان" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Start" class=""></label>
                        <input asp-for="Start" class="form-control" placeholder="از رطوبت" />
                        <span asp-validation-for="Start" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="End" class=""></label>
                        <input asp-for="End" class="form-control" placeholder="تا رطوبت" />
                        <span asp-validation-for="End" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Percent" class=""></label>
                        <input asp-for="Percent" class="form-control" placeholder="درصد" min="0" />
                        <span asp-validation-for="Percent" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="ذخیره و بازگشت" class="btn btn-info btn-fill" />

                    </div>
                </form>

            </div>
        </div>
    </div>
</div>



