@model Snapp.Core.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "ورود به اسنپ";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<h3 class="text-center">به اسنپ خوش آمدید</h3>
<br />
<h5 class="text-center">کد فعالسازی برای شما پیامک خواهد شد</h5>
<hr />
<form asp-action="Register" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Username" class="control-label"></label>
        <input asp-for="Username" class="form-control" placeholder="مثل 09922334545" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="ارسال کد فعالسازی" class="btn btn-success btn-block" />
    </div>
</form>

