@model Snapp.Core.ViewModels.dashbord_admin.DriverCarViewModel
@{
    ViewData["Title"] = "خودرو راننده";
    Layout = "~/Views/Shared/_DashbordLayout.cshtml";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="card">
            <div class="header">
                <h4 class="title pull-right">مشخصات خودرو</h4>
                <h4 class="title pull-left">
                    <a href="/user/Index" class="btn btn-danger">
                        بازگشت
                    </a>
                </h4>
            </div>
            <div class="clearfix"></div>
            <div class="content">
                <form asp-action="DriverCar" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="CarId" class="control-label"></label>
                        <select class="form-control" asp-for="CarId" asp-items="ViewBag.CarId"></select>
                        <span asp-validation-for="CarId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ColorId" class="control-label"></label>
                        <select class="form-control" asp-for="ColorId" asp-items="ViewBag.ColorId"></select>
                        <span asp-validation-for="ColorId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CarCode" class=""></label>
                        <input asp-for="CarCode" class="form-control" />
                        <span asp-validation-for="CarCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="ذخیره و بازگشت" class="btn btn-info btn-fill" />

                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<script src="~/js/sweet.js"></script>

@if (ViewBag.IsSuccess)
{
    <script>
        swal("انجام شد", "تغییرات با موفقیت انجام شد", "success", {
            button: "متوجه شدم",
        });
    </script>
}