@{ 
    ViewData["Title"] = "test";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<form>

    <h3 class="text-center">به اسنپ خوش آمدید</h3>

    <br />
    <div class="form-group">

        <input class="form-control" type="text" placeholder="شماره همراه..."/>

    </div>
</form>