@model Snapp.Core.ViewModels.dashbord_admin.RateTypeViewModel

@{
    ViewData["Title"] = "ویرایش گزینه امتیازدهی";
    Layout = "~/Views/Shared/_DashbordLayout.cshtml";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="card">
            <div class="header">
                <h4 class="title pull-right">ویرایش @Model.Name</h4>
                <h4 class="title pull-left">
                    <a href="/RateType/Index" class="btn btn-danger">
                        بازگشت
                    </a>
                </h4>
            </div>
            <div class="clearfix"></div>
            <div class="content">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class=""></label>
                        <input asp-for="Name" class="form-control" placeholder="نام رنگ" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>
                            @Html.DisplayNameFor(model => model.Ok)
                        </label>
                        <input asp-for="Ok" type="checkbox" />
                    </div>
                    <div class="form-group">
                        <label asp-for="ViewOrder" class=""></label>
                        <input asp-for="ViewOrder" class="form-control" min="0" />
                        <span asp-validation-for="ViewOrder" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="ذخیره و بازگشت" class="btn btn-info btn-fill" />

                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
