@model IEnumerable<Snapp.Core.ViewModels.ChartViewModel>
@{
    ViewData["Title"] = "پرداخت های هفتگی";
    Layout = "~/Views/Shared/_DashbordLayout.cshtml";


    var xLabels = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Select(x => x.Label).ToList());
    var yValues = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Select(y => y.Value).ToList());
    var zColors = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Select(z => z.Color).ToList());
}

@section mySection {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>

    <script>

        //2d=2 یعدی
        var ctx = document.getElementById('chart').getContext('2d');

        var chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: @Html.Raw(xLabels),
                datasets: [{
                    label: "پرداخت های هفتگی",
                    data: @Html.Raw(yValues),
                    backgroundColor: @Html.Raw(zColors),
                    borderWodth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

    </script>
}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <canvas id="chart" style="width: 100%; height: 500px"></canvas>

</div>





